
@import "./node_modules/picnic/picnic.min.css";

nav {
  background-color: rgba(255, 255, 255, 0.8);
}
body {
  background-color: #F8F3EF;
}

.introduction-body {
  padding: 30px;
}

.img-project {
  margin: 20px auto 0 auto;
  width: 150px;
  height: 150px;
}

#page-content {
  padding-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
  height: 100vh;
}

.flex-language {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
}

.svg-language {
  width: 70px;
  height: 70px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.social-inline-block {
  display: inline-block;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#profile {
  border: 3px solid lightgrey;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 20px 30px;
  border-radius: 3px;
}

.card-profile {
  line-height: 16px;
}

.card-social {
  line-height: 16px; 
}

.card-movie p {
  margin: 0 20px;
}

tr.row-movie > td {
  padding-bottom: 20px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 30px;
}

.list-inline {
  padding-left: 0px;
}

.fa-stack-1x {
  color:white;
}

.fa.fa-circle {
  border-radius: 50%;
}

.icon-github {
  color: #25292E;
}

.icon-facebook {
  color: #3b5998;
}

.icon-twitter {
  color: #00aced;
}

.icon-linkedin {
  color: #0077B5;
}

#footer .fa {
  color: #788188;
}
